# Output directories
transfer-files/*
attic/*

# Example files
echo-example-transfer-file.csv
creoptix-example-file.csv

# Python
__pycache__/
*.py[cod]
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store